/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
}

.logo {
	max-width: 170px;
}

.hlavicka {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 52px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 18px;
}

.hero-text {
	font-size: 24px;
	font-style: italic;
}

.menu ul {
	display: flex;
	list-style: none;
}

a {
	padding: 10px 15px;
	border-radius: 20px;
	text-decoration: none;
	color: black;
}

a:hover {
	background-color: #f195B2;
}

.hero {
	background-image: url("images/cupcake.jpg");
	color: white;
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.obsah-sekce {
	text-align: left;
}

.hero h1, .hero p {
	padding-right: 40%;
}

.dva-sloupce {
	display: flex;
	padding-top: 80px;
	padding-bottom: 80px;
}

section {
	padding-left: 20%;
	padding-right: 20%;
}

.tlacitko {
	background-color: #F195b2;
	border-radius: 30px;
	padding: 15px 40px;
}

.tlacitko:hover {
	background-color: #D2567D;
}

.margin-nefunguje {
	margin-bottom: 35px;
}

.foto {
	padding-left: 30px;
	padding-right: 30px;
}

.sekce-seda {
	background-color: #F0F0F0;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20%;
	padding-right: 20%;
}

.nabidka {
	display: flex;
	max-width: 1100px;
	align-content: center;
}

.produkt img {
	width: 247px;
	border-radius: 5px 5px 0 0;
}

.produkt {
	border: 1px solid silver;
	background-color: white;
    border-radius: 5px;
    box-shadow: rgb(170 170 170) 4px 4px 6px;
	display: flex;
	flex-direction: column;
	max-width: 250px;
	flex: 0 0 calc((100% -40px) / 4);
	margin-right: 10px;
}

.produkt-obsah {
	padding: 10px;
	text-align: center;
}

footer {
	background-color: #303339;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}



